# Root Gitignore

# IDE & OS
.idea/
.vscode/
.DS_Store
Thumbs.db
*.log

# Mobile build artifacts
**/build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies

# Tools
cloudflared.exe

# Backend
exambro-backend/.env
exambro-backend/vendor/
